extends layout

block content
  div.col-12#hellhead
    h1 体組成を記録しましょう

  section
    div.grid
      form(method="post")
        div.col-12
          div.row
            div.col-2
              input(type="text", class="form-input datepicker-here", data-language='en', placeholder='日付')
          div.row
            div.col-2
              input(type="text", name="weight", class="form-input", placeholder="体重(kg)")
            div.col-2
              input(type="text", name="fat-percent", class="form-input", placeholder="体脂肪率(%)")
            div.col-2
              input(type="text", name="base-mtb", class="form-input", placeholder="基礎代謝(kcal)")
            div.col-2
              input(type="text", name="muscle", class="form-input", placeholder="筋肉量(%)")
            div.col-2
              input(type="text", name="body-age", class="form-input", placeholder="体内年齢")
            div.col-2
              input(type="text", name="inside-fat-level", class="form-input", placeholder="内蔵脂肪レベル")
          div.row
            div.col-12
              input(type="submit", class="form-input", value="記録する")
